<div class="container">
  <h2 class="titre2">Connexion</h2>
  <span class="warning"><%= flash[:warning] %></span>
  <%= form_for(:session, url: login_path)  do |form| %>
    <div class="contact-form">
      <div class="col-md-10">
        <%= form.label :login, "Identifiant" %><br/>
        <%= form.text_field :login, :required => true, :minlength => 6 %>
      </div>
      <div class="col-md-10">
        <%= form.label :password, "Mot de passe" %><br/>
        <%= form.password_field :password, :required => true, :autocomplete => 'off' %>
        <%= form.submit :connexion %>
      </div>
      <div class="col-md-10">
        <p id="newUti">Nouvel utilisateur <%= link_to " S'inscrire", new_utilisateur_path %></p>
      </div>
    </div>
    </div>



    </div>
  <% end %>