<div class="container">
  <h2 class="titre2">Enchérir</h2>
  <span class="warning"><%= flash[:warning] %></span>
  <span class="success"><%= flash[:notice] %></span>
  <%= form_for(:enchere, url: objet_encheres_path)  do |form| %>
    <div class="contact-form">
      <div class="col-md-10">
        <%= form.label :prix, "Montant de l'enchère" %><br/>
        <%= form.number_field :prix, :required => true, :min =>@prix+1, :value => @prix, :step =>'1' %>
        <%= form.hidden_field :dateench, :required => true, :value=>DateTime.now %>
        <%= form.hidden_field :objet_id, :required => true, :value=>@objet.id%>
        <%= form.submit :valider %>
      </div>
    </div>
    </div>
    <% end %>
</div>