<div class="container">
  <h2 class="titre2">Enchérir</h2>
  <%= flash[:warning] %>
  <%= flash[:notice] %>
  <%= form_for(:enchere, url: objet_encheres_path)  do |form| %>
    <div class="contact-form">
      <div class="col-md-10">
        <%= form.label :prix, "Montant de l'enchère" %><br/>
        <%= form.number_field :prix, :required => true,  :min =>@prix, :value => @prix, :step =>'1' %>
        <%= form.hidden_field :dateench, :value=>DateTime.now %>
        <%= form.hidden_field :objet_id, :value=>@objet.id%>
        <%= form.submit %>
      </div>
    </div>
    </div>
    <% end %>
</div>